.navs {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(252, 249, 245);
}

.nav {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.active {
  color: rgb(47, 47, 47);
  font-weight: bold;
  transition: background-color 0.3s;
}

