.navs {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 1rem;
    padding: 0.5rem;
    background-color: rgb(252, 249, 245);
}

.nav {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: clamp(1rem, 2vw, 1.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: rgb(84, 175, 255);
  font-weight: bold;
  transition: background-color 0.5s;
}

.title {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

