.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 65vh;
}

.table-responsive>.table {
  margin-bottom: 0;
  white-space: nowrap;
}

.element-row:hover {
  background-color: #cbcbcb;
  color: rgb(46, 46, 46);
}