.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 65vh;
}

.table-responsive>.table {
  margin-bottom: 0;
  white-space: nowrap;
}

.element-row:hover {
  background-color: #cbcbcb;
  color: rgb(46, 46, 46);
}

.text-center {
  text-align: center;
}

.no-data{
  text-align: center;
  font-size: 1.5em;
  color: #6c757d;
}