<section class="container-page">
    <app-navigation-pages [navigationType]="navigationType()"
        (navigationTypeSelected)="setNavigationType($event)"></app-navigation-pages>
    @if (navigationType()==='table') {
        <div class="container-table shadow-lg p-3 mt-3">
            @if(isLoading()) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                }
                <app-basic-table [columns]="columns()" [data]="characters()" [isLoading]="isLoading()"></app-basic-table>
                <mat-paginator [length]="total()" (page)="handlePageEvent($event)"
                    [showFirstLastButtons]="true" [pageIndex]="currentPage()">
                </mat-paginator>
        </div>
    }@else {
        <mat-paginator [pageSize]="characters().length" [length]="total()" (page)="handlePageEvent($event)"
            [showFirstLastButtons]="true" [pageIndex]="currentPage()">
        </mat-paginator>
        <section class="container-cards p-3">
            @for (item of characters(); track item.id) {
                <app-card-character [character]="item"></app-card-character>
            }
        </section>
    }
</section>