/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
background-color: aliceblue;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-page {
    max-height: 87vh;
}

.container-table {
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.shadow-md {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.input-search {
    font-size: clamp(1rem, 2vw, 1.5rem);
    width: 100%;
}
